@import url("https://fonts.googleapis.com/css?family=Lobster");
#root {
  background-color: #1d201f;
}
.container-name {
  width: 50%;
  text-align: center;
  margin: auto;
}
.app-name {
  font-family: "Lobster", sans-serif;
  font-size: 50px;
  padding: 30px;
  color: #61dbfb;
}
#nav-link {
  color: white;
  margin: 30px;
}
#nav-link:hover {
  color: white;
  font-weight: 1000;
}
#user {
  color: #61dbfb;
  background-color: #61dbfb;
  float: right;
  color: black;
  right: 30px;
  margin: 4px;
}
#user:hover {
  color: #61dbfb;
  background-color: black;
  transition: 0.8s ease;
}
.user-action {
  margin-right: 50px;
  margin-top: 20px;
}

.button-container {
  padding: 20px;
  float: left;
  width: 100%;
}
.left-div {
  width: 50%;
  position: relative;
  display: inline-block;
  padding: 20px;
  height: 300px;
}
.right-div {
  padding: 20px;
  float: right;
  width: 50%;
  top: 40px;
  position: relative;
  text-align: center;
}
.submit-button {
  margin-top: 20px;
  text-align: right;
}
#submit {
  color: black;
  background-color: #61dbfb;
}
#submit:hover {
  color: black;
  background-color: white;
  transition: 0.9s ease;
}
#quote {
  resize: horizontal;
  color: white;
  white-space: pre-wrap;
}
